@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'ubuntu';
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}



nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0px 10px 0px 10px;
    
}


@keyframes fadingin {
    0%{
        opacity: 0;
        padding-left: 0px;
    }

    100%{
        opacity: 100%;
        padding-left: 20px;
    }
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 15px 0px 20px 20px;
    font-weight: 600;
    min-width:500px;
    flex-wrap: nowrap;
    animation: fadingin 1s linear;
}

section{
    padding: 40px 0px;
}

.logo{
    font-size: 36px;
    flex-grow: 1;   
}

.links{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: white;
    padding: 10px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    flex-wrap: nowrap;
    transition: transform 1s linear;
    transform: translate(100);
}

.signup{
    display: flex;
    flex-wrap: nowrap;
    background:transparent;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 5px rgb(0, 173, 181, 0.15);
    padding: 10px 20px 10px 20px;
    border: rgb(0, 173, 181) solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    
    transition: box-shadow 0.3s, background-color 0.3s;
}
.signup:hover{
    font-size:16px;
    font-weight:600;
    background-color: rgb(0, 173, 181);
    text-decoration: None;
}

.toggle_menu{
    display: none;
    width: 50px;
    aspect-ratio: 1;
    border: none;
    background: none;
}
.toggle_menu img{
    object-fit: cover;
}
.toggle_menu:active{ 
    border: red solid;
    cursor: pointer !important;
}




.container{
    display: flex;
    position: relative;
    min-width:500px;
    /* min-height: 500px; */
    max-height: auto;
    padding: 20px 20px 20px 20px;
    /* justify-content: center; */
    align-items: center;
    
    
}
.crusher_image{
    /* position: absolute; */
    z-index: 0;
    align-self: flex-start;
    filter: drop-shadow(1px 1px 20px rgb(61, 61, 61));
}

.crusher_image img{
    object-fit: contain;
    width: 100%;
    height: auto;
}

.intro{
    font-size: 24px;
    position: absolute;
    z-index: 1;
    /* color: #00ADB5; */
    /* text-align: center; */
}

.aboutus{
    display: flex;
    margin: 10px 0px 0px 0px;
    padding: 20px;
    width: 100%;
    height: 500px;
    border-radius: 1rem;
    background: #393E46;
    color: white;
}

.aboutus img{
    width: 50%;
    height: auto;
    object-fit: cover;
    justify-content: left;
    border-radius: 1rem;
    margin-right: 20px;
}

.aboutus h1{
    font-size: 32px;
    padding: 20px 0px;
    justify-content: left;
}

.aboutus p{
    font-size: 30px;
    font-weight: 100px;
    padding: 10px 0px;
    width: 100%;
    justify-content: right;
    /* margin-right: 0px; */
}

.product-container{
    padding: 20px;
    /* margin: 50px 0px; */
}
.product-heading h1{
    font-size: 32px;
}

.product-area{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
    flex-wrap: wrap;
    
}
.product-card{
    position: relative;
    display: flex;
    flex-shrink: 0;
    height:500px;
    width:350px;
    margin:10px 0px;
    border: rgb(16, 16, 16, 0.1) solid;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
}


.product-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
    border-radius: 1rem;
    z-index: 0;
}

.product-details{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 1rem;
    opacity: 75%;
    width: 100%;
    height: 50%;
    font-size: 32px; 
    top:50%;
    color: rgb(0, 0, 0);
    transform: translateY(100%);
    transition: transform 0.2s linear;
    /* box-shadow: 0px 0px 20px 20px rgb(255, 255, 255); */
    z-index: 1;
}

.product-details:hover,
.product-card img:hover ~ .product-details{
    transform: translateY(0%);
}



@media (max-width: 40rem){
    .links{
        /* animation: slide_out 1s linear;  */
        transform: translateX(200%);
        display: None;
    }
    .toggle_menu {
        display: block;
    }

    .aboutus{
        position: relative;
        display: block;
        /* margin: 100px 0px 0px 0px; */
        padding: 20px;
        background: #393E46;
        color: white;
    }
    .aboutus p{
        width: 100%;
        font-size: 24px;
        padding: 10px 0px;
    }
    .aboutus img{
        width: 100%;
        height: auto;
        object-fit: cover;
        justify-content: left;
        border-radius: 1rem;
        margin-right: 20px;
    }
    
}